<ion-header>

  <ion-navbar>
    <ion-title>{{ quoteGroup.category | uppercase }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let quote of quoteGroup.quotes; let i=index">
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <p>{{ quote.text }}</p>
      <br>
      <p text-right>- {{ quote.person }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-center>
        <button ion-button color="danger"
        small round outline
        (click)="onAddToFavorites(quote)"
        *ngIf="!isFavorite(quote)">
          <ion-icon name="heart"></ion-icon>
        </button>
        <button ion-button color="danger"
                small round outline
                (click)="onRemoveFromFavorites(quote)"
                *ngIf="isFavorite(quote)">
                Unfavorite
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
